/* COMMONS AND VARIABLES  */

:root {
    --header-color: #2C3E50;
    --jumbotron:#1ABC9C;
    --top-footer: #3A546D;
    --bot-footer: var(--header-color)
}

body {
    /* debug */
    /* background-color: #8f9396; */
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}
.box{
    width: auto;
    min-height: 10px;
    padding: 1rem;
    background-color: pink;
    border: 2px dashed red;
    line-height: 10px;
    text-align: center;

}



/* ########################################################################################### */

/* HEADER */
header{
    height: 70px;
    position:fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    background: var(--header-color);
    
}
/* JUMBOTRON */
.jumbotron{
    background-color: var(--jumbotron);
    width: 100%;
    margin-top: 70px;
    border: 1px solid black;
}
/* PORTOFOGLIO */
.portofoglio {
    margin-top: 20px;
}
/* ABOUT */
.about {
    background-color: #1ABC9C;
}
.icon-w:before {
    content: "";
    display: inline-block;
    width: 15%;
    max-width: 100px;
    height: 4px;
    background-color: white;
    margin-right: 10px;
}

.icon-w:after {
    content: "";
    display: inline-block;
    width: 15%;
    max-width: 100px;
    height: 4px;
    background-color: white;
    margin-left: 10px;
}
/* CONTACT SECTION */
.icon-b:before {
    content: "";
    display: inline-block;
    width: 15%;
    max-width: 100px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-right: 10px;
}

.icon-b:after {
    content: "";
    display: inline-block;
    width: 15%;
    max-width: 100px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
}

.center{
    text-align: center;
}
.contact input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.contact input:focus {
    box-shadow: none;
    border-color: lightgray
}



.contact textarea:focus {
    box-shadow: none;
    border-color: lightgray
}
/* FOOTER-TOP */
.footer-top{
    background-color:var(--top-footer) ;
    
}
.freelance a{
    color:var(--jumbotron);
}
/* FOOTER-BOT */
.footer-bot{
    background-color:var(--bot-footer) ;
}